body {
    background:#2D3E40;
    font-family:Arial, Helvetica, sans-serif;
}
.assignments {
    display: flex;
    flex-wrap:wrap;
}
.assignment {
    width: 22%;
    padding:10px;
    margin:10px;
    padding: 20px 10px;
    background:#97A6A0;
    border-radius: 10px;
}

.assignment img {
 width: 50%;
 margin: 10px;
 border: 4px solid #93BFB7;
 display:block;
 margin:auto;
}
.assignment img:hover {
 border: 4px dashed rgb(213, 103, 103);
}

h1{
    color: #E4F2E7;
    text-align: center;
}

h1:hover {
    color:rgb(213, 103, 103);
}
h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color:#387373;
}

a:hover {
    color: rgb(213, 103, 103);
}